/*************
Global
*************/
body {
    background: #ffc;
    font-family: Gibson, Helvetica Neue, sans-serif;
}
.ft-nav {
    margin-top: 20px;
    display: block;
    text-align: left;
}
hr {
    border-color: #000;
    height: 2px;
    width: auto;
}
.ft-btn {
    background: #00BFFF;
    border: solid;
    border-color: #BFEFFF;
    color: #000;
}
.ft-btn:hover {
    background: #BFEFFF;
    color: #000;
}
.selected {
    background: #00BFFF;
    border: solid;
    color: #fff;
}
.ft-main {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
.ft-footr {
    margin-top: 45px;
}
/*********************
Page: Index
*********************/
.ft-main {
    margin-top: 30px;
}
/* Image */
.ft-img {
    height: 200px;
    width: 200px;
    border: solid;
    margin: 10px 0 10px 0;
    border-width: 5px;
    border-radius: 100%;
}

/***********************
Page: Resume
***********************/
.ft-hdr {
    /*text-align: center;*/
    margin-left: auto;
    margin-top: 20px;
}

.jcps_classes {
    margin-left: 20px;
}
/***************************
Page: Contact
***************************/
.ft-contact {
    margin-top: 35px;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
    color: #000;
}
.contact-info li.phone a {
 background-image: url("../img/phone.png");
}
.contact-info li.mail a {
 background-image: url("../img/mail.png");
}
/* Media Queries */
@media screen and (min-width: 480px) {
    .ft-img {
        margin-left: 10%;
    }
    .ft-hdr {
        margin-left: 10%;
    }
    .ft-para {
        width: 85%;
    }
    .ft-contact {
        margin-left: 30%;
    }
    .ft-footr {
        text-align: center;
    }
}
@media screen and (min-width: 680px ) {
    .ft-hdr {
        margin-left: 20%;
    }
     .ft-img {
        margin-left: 30%;
    }
    .ft-para {
        max-width: 750px;
        margin-left: 3%;
        margin-right: 4%;
    }
    .ft-footr {
        margin-left: 10%;
    }
}
@media screen and (min-width: 1024px) {
    .ft-hdr {
        margin-left: 15%;
    }
    .ft-nav {
        text-align: left;
    }
    ft-contact{
        margin-left: 10%;
    }
    .ft-img {
        margin-top: 30px;
        margin-left: 10%;
    }
    .ft-para {
        margin-top: 30px;
    }
    .ft-footr {
        text-align: center;
    }
}